# --- macOS ---
.DS_Store
# --- Go ---
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum
.env

# --- Flutter ---
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.lock

# --- IDE/Editors ---
.idea/
.vscode/
