# macOS
.DS_Store

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum
.env
backend/tempo.db

# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.lock
frontend/.metadata
frontend/.flutter-plugins*

# IDE
.idea/
.vscode/
*.iml

# Generated
*.apk
*.aab
